<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div>제목 : <input v-model="tmepTitle"></div>
        <div>내용 : <input v-model="tempContents"></div>
        <div>
            <button v-if="boardNo == ''" @click="fnAdd">저장</button>
            <button v-else @click="fnEdit">수정</button>
        </div>
    </div>
</body>

</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                info: {
                    title: "",
                    contents: ""
                },
                tmepTitle: "",
                tempContents: "",
                boardNo: "",
            };
        },
        methods: {
            fnAdd(){
                let self = this;
                self.info.title = self.tmepTitle;
                self.info.contents = self.tempContents;
				fetch("http://localhost:3000/board", {
                    method : "POST",
                    headers : {
                        "Content-type" : "application/json"   
                    },
                    body : JSON.stringify(self.info)
                })
                    .then( res => res.json() )
                    .then( data => {
                        console.log(data);
                        if(data.result > 0){
                            alert("등록되었습니다.");
                            location.href="board-list.html";
                        } else{
                            alert("등록에 실패했습니다.");
                        }
                        
                    } )
                    .catch( err => {
                        console.log("서버 에러");
                    })
            },
            fnGetInfo(){
                let self = this;
				fetch("http://localhost:3000/board/"+self.boardNo)
                    .then( res => res.json() )
                    .then( data => {
                        self.info = data.info;
                        console.log(data.info);
                        self.tmepTitle = self.info.title;
                        self.tempContents = self.info.contents;
                    } )
            },
            fnEdit() {
                let self = this;
                self.info.title = self.tmepTitle;
                self.info.contents = self.tempContents;
                console.log(self.info);
                fetch("http://localhost:3000/board/" + self.boardNo, {
                    method: "PUT",
                    headers: {
                        "Content-type": "application/json"
                    },
                    body: JSON.stringify(self.info)
                })
                    .then(res => res.json())
                    .then(data => {
                        if(data.result > 0){
                            alert(data.message);
                            location.href = "board-list.html"
                        }else{
                            alert("수정에 실패했습니다.");
                        }
                    })
                    .catch(err => {
                        console.log("서버 에러");
                    })
            }
        },
        mounted() {
            var self = this;
            const queryParams = new URLSearchParams(window.location.search);
            if (queryParams.get('boardNo') != null) {
                self.boardNo = queryParams.get('boardNo') || '';
                self.fnGetInfo();
            }
        }
    });
    app.mount('#app');
</script>